#Portfolio {
    letter-spacing: 2rem;
    font-weight: bold;
}

#AuthorName {
    letter-spacing: -4px;
    word-spacing: 5px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

footer {
    margin-top: auto;
}

.container {
    width: 100%;
}


#c1{
    font-weight: 400 !important;

}